Repository attakei/oEmbedPy: changes, and which lefthook commands are due for each by the changed paths.
All: ruff, mypy, doc8

ruff:
  run: uvx ruff format {staged_files}
  stage_fixed: true

mypy:
  run: uv run mypy {staged_files}

doc8:
  run: uvx doc8 --max-line-length=119 {staged_files}

ci: Change linter on GHA
  .github/workflows/main.yml
Due: none

chore: Add local-dev depencies
  pyproject.toml
  uv.lock
Due: none

dcos: Remove note
  README.rst
Due: doc8

chore: Remove dynamic
  .age.toml
  pyproject.toml
  uv.lock
Due: none

docs: Update classifiers
  pyproject.toml
Due: none

refactor(sphinx): Unuse global variable
  oembedpy/ext/sphinx.py
Due: ruff, mypy

refactor: Proc fetching in domain layer
  oembedpy/ext/sphinx.py
Due: ruff, mypy

feat(sphinx): Content cache in build environment of sphinx
  oembedpy/ext/sphinx.py
  tests/roots/test-for-sphinx-cached/conf.py
  tests/roots/test-for-sphinx-cached/index.rst
  tests/test_ext_sphinx.py
Due: ruff, mypy, doc8

refactor: Add new optional dependencies
  pyproject.toml
  uv.lock
Due: none

refactor(sphinx): Simplify imports
  oembedpy/ext/sphinx.py
Due: ruff, mypy

refactor: Rename sub-package
  oembedpy/adapter/__init__.py
  oembedpy/adapter/sphinx.py
  oembedpy/ext/sphinx.py
  tests/roots/test-default/conf.py
  tests/roots/test-for-sphinx-cached/conf.py
  tests/roots/test-with-fallback/conf.py
  tests/test_ext_sphinx.py
Due: ruff, mypy

ci: Split tests 'ext' and 'adapter'
  tests/test_adapter_sphinx.py
  tests/test_ext_sphinx.py
Due: ruff, mypy

fix: Mark deprecated
  oembedpy/ext/sphinx.py
Due: ruff, mypy

docs: Edit for renamed module
  docs/integrations/sphinx.rst
Due: doc8

refactor: Re-rename sub-package
  docs/integrations/sphinx.rst
  oembedpy/adapters/__init__.py
  oembedpy/adapters/sphinx.py
  oembedpy/ext/sphinx.py
  tests/roots/test-default/conf.py
  tests/roots/test-for-sphinx-cached/conf.py
  tests/roots/test-with-fallback/conf.py
  tests/test_adapters_sphinx.py
Due: ruff, mypy, doc8

feat(mkdocs): First implement for MkDocs plugin
  oembedpy/adapters/mkdocs.py
  pyproject.toml
  tests/test_adapters/__init__.py
  tests/test_adapters/test_mkdocs.py
  uv.lock
Due: ruff, mypy

docs(mkdocs): Add page about mkdocs-adapter
  docs/index.rst
  docs/integrations/mkdocs.rst
Due: doc8

ci: Install --all-extras every jobs
  .github/workflows/main.yml
Due: none

ci: Test demo build
  .github/workflows/main.yml
Due: none

ci: Ignore docs to demo
  docs/conf.py
Due: ruff

docs: Add demo for MkDocs integration
  demo/mkdocs/index.md
  docs/.gitignore
  docs/conf.py
  mkdocs.yml
Due: ruff

ci: ReadTheDocs deploy demo
  .readthedocs.yaml
Due: none

refacto: Update file paths
  .github/workflows/main.yml
  .readthedocs.yaml
  demo/mkdocs/config.yaml
  docs/.gitignore
  mkdocs.yml
Due: none

ci: Fix test strategy
  .github/workflows/main.yml
Due: none

docs: Fix link to remapped demo page
  docs/conf.py
  docs/integrations/mkdocs.rst
Due: ruff, doc8

feat(mkdocs): Fallback is handled by option
  demo/mkdocs/config.yaml
  demo/mkdocs/index.md
  docs/integrations/mkdocs.rst
  oembedpy/adapters/mkdocs.py
Due: ruff, mypy, doc8

ci: Fix and update tests
  tests/test_adapters/test_mkdocs.py
Due: ruff, mypy

ci: Refactor and remark tests
  tests/test_adapters/test_sphinx.py
  tests/test_ext_sphinx.py
Due: ruff, mypy

ci: Run test all in GHA
  .github/workflows/main.yml
Due: none

ci: Use same actions over all jobs
  .github/workflows/main.yml
Due: none

release: Version 0.8.0
  .age.toml
  .github/release-body.md
  CHANGES.rst
  oembedpy/__init__.py
  pyproject.toml
  uv.lock
Due: ruff, mypy, doc8

ci: Update workflow actions
  .github/workflows/release.yml
Due: none

fix: Name of domain should be short
  oembedpy/adapters/sphinx.py
Due: ruff, mypy

fix: Domain does not resolve cross-references
  oembedpy/adapters/sphinx.py
Due: ruff, mypy

ci: Fix tests according to implements
  tests/test_adapters/test_sphinx.py
Due: ruff, mypy

fix: Use project name as domain name
  oembedpy/adapters/sphinx.py
Due: ruff, mypy

refactor: Use TYPE_CHECKING
  oembedpy/adapters/sphinx.py
Due: ruff, mypy

chore: Use regional timezone for changelog
  .age.toml
Due: none

release: Version 0.8.1
  .age.toml
  .github/release-body.md
  CHANGES.rst
  oembedpy/__init__.py
  pyproject.toml
  uv.lock
Due: ruff, mypy, doc8

ci: Fix workflow
  .github/workflows/release.yml
Due: none

Path conditions:
  ruff: any of: *.py
  mypy: any of: *.py, but not: **/conf.py
  doc8: any of: *.rst
