Repository attakei/oEmbedPy: changes, and which lefthook commands are due for each by the changed paths.
All: ruff, mypy, doc8

ruff:
  run: uvx ruff format {staged_files}
  stage_fixed: true

mypy:
  run: uv run mypy {staged_files}

doc8:
  run: uvx doc8 --max-line-length=119 {staged_files}

chore: Add attrributes
  .gitattributes
Due: none

chore: For local development
  Taskfile.yaml
  aqua.yaml
  lefthook.yml
  pyproject.toml
  uv.lock
Due: none

refactor: Format by Ruff
  oembedpy/cli.py
Due: ruff, mypy

chore: Update workspace
  .env.example
  .github/workflows/main.yml
  .gitignore
  .mise.toml
  Taskfile.yaml
  aqua.yaml
Due: none

ci: Set env for task
  .github/workflows/main.yml
Due: none

ci: Update for using task
  .github/workflows/release.yml
Due: none

docs: Fix usage
  README.rst
Due: doc8

release: Version 0.8.2
  .age.toml
  .github/release-body.md
  CHANGES.rst
  oembedpy/__init__.py
  pyproject.toml
Due: ruff, mypy, doc8

chore: Fix to build docs by taskfile
  Taskfile.yaml
Due: none

doc: Use new extension name
  docs/conf.py
Due: ruff

chore: Set attributes in repo
  .gitattributes
Due: none

fix: Add type stubs
  oembedpy/py.typed
Due: none

ci: Reproduce failure in parallel build
  tests/roots/test-parallel/conf.py
  tests/roots/test-parallel/index.rst
  tests/roots/test-parallel/sub1.rst
  tests/roots/test-parallel/sub2.rst
  tests/roots/test-parallel/sub3.rst
  tests/roots/test-parallel/sub4.rst
  tests/roots/test-parallel/sub5.rst
  tests/test_adapters/test_sphinx.py
Due: ruff, mypy, doc8

update: Restructure deps
  pyproject.toml
  uv.lock
Due: none

update: Change release template
  .age.toml
Due: none

refactor: Sorted import
  oembedpy/adapters/sphinx.py
Due: ruff, mypy

fix: Sphinx extension is not read safe yet
  oembedpy/adapters/sphinx.py
Due: ruff, mypy

update: Set indent rule
  .editorconfig
Due: none

chore: Add task to release
  Taskfile.yaml
Due: none

release: Version 0.8.3
  .age.toml
  .github/release-body.md
  CHANGES.rst
  oembedpy/__init__.py
  pyproject.toml
  uv.lock
Due: ruff, mypy, doc8

feat: Content always has expired property for caching
  oembedpy/consumer.py
  oembedpy/types.py
  tests/test_consumer.py
Due: ruff, mypy

fix: Application caching use Content class directly
  oembedpy/application.py
  oembedpy/types.py
Due: ruff, mypy

refactor: Format by ruff
  oembedpy/application.py
Due: ruff, mypy

refactor: See _expired in Sphinx extension
  oembedpy/adapters/sphinx.py
Due: ruff, mypy

doc: Fix for warnings
  docs/conf.py
Due: ruff

feat: Support merge caches from multiple environments
  oembedpy/adapters/sphinx.py
  tests/test_adapters/test_sphinx.py
Due: ruff, mypy

ci: Update for indepndent each tests
  tests/test_adapters/test_sphinx.py
Due: ruff, mypy

refactor: Add docstring
  oembedpy/adapters/sphinx.py
Due: ruff, mypy

release: Version 0.9.0
  .age.toml
  .github/release-body.md
  CHANGES.rst
  oembedpy/__init__.py
  pyproject.toml
  uv.lock
Due: ruff, mypy, doc8

Path conditions:
  ruff: any of: *.py
  mypy: any of: *.py, but not: **/conf.py
  doc8: any of: *.rst
